$import-google-fonts: false;

.ui.secondary.pointing.menu {
  overflow-x: scroll;
}

.caret.big {
  margin-left: -5px;
  margin-right: -5px;
  color: black;
}

.caret.activated {
  color: #21BA45;
}

.flex-container {
  display: flex;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}
